<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="description" content= "View the latest COVID-19 outbreak information for Jeju, South Korea.">
    <meta name="twitter:image" content="<%= BASE_URL %>share.jpg">
    <meta property="og:image" content="<%= BASE_URL %>share.jpg">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>apple-touch-icon.png?v=JyBay2r5zn">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicon-32x32.png?v=JyBay2r5zn">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>favicon-16x16.png?v=JyBay2r5zn">
    <link rel="manifest" href="<%= BASE_URL %>site.webmanifest?v=JyBay2r5zn">
    <link rel="mask-icon" href="<%= BASE_URL %>safari-pinned-tab.svg?v=JyBay2r5zn" color="#5a67d8">
    <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico?v=JyBay2r5zn">
    <meta name="msapplication-TileColor" content="#5a67d8">
    <meta name="theme-color" content="#5a67d8">

    <!--
    Inlined styles for quick initial page load.
    ============================================================================
    To modify this style block:

    1. Open `./postcss.config.js` and change the pursecss `content` array to
       **only** include this file. Save the file.
    2. Go to the terminal and run `npm run build` to create a production build.
       Once it's done, open the file at `/dist/css/index.[hash].css`. Copy the
       contents of this file and paste them into the `<style>` tag below.
    3. IMPORTANT! Go back to the PostCSS config file and restore it to its
       original configuration...or else all future production builds will
       deploy without styles.
    -->
    <style type="text/css">
      html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}a{background-color:transparent}strong{font-weight:bolder}button{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button{overflow:visible}button{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[hidden]{display:none}h1,h2,h3,h4,h5,h6,p{margin:0}button{background-color:transparent;background-image:none;padding:0}button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}html{font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;line-height:1.5}*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box;border-width:0;border-style:solid;border-color:#e2e8f0}[role=button],button{cursor:pointer}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}a{color:inherit;text-decoration:inherit}button{padding:0;line-height:inherit;color:inherit}svg{display:block;vertical-align:middle}.bg-black{background-color:#000}.bg-gray-900{background-color:#1a202c}.bg-indigo-600{background-color:#5a67d8}.bg-mapbox-water{background-color:#a7cbd7}.block{display:block}.flex{display:-webkit-box;display:-ms-flexbox;display:flex}.hidden{display:none}.flex-row-reverse{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.items-center{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.justify-center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.flex-auto{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto}.flex-none{-webkit-box-flex:0;-ms-flex:none;flex:none}.font-bold{font-weight:700}.h-screen{height:100vh}.leading-none{line-height:1}.overflow-hidden{overflow:hidden}.p-4{padding:1rem}.fixed{position:fixed}.relative{position:relative}.top-0{top:0}.right-0{right:0}.bottom-0{bottom:0}.text-white{color:#fff}.text-gray-200{color:#edf2f7}.text-xs{font-size:.75rem}.text-lg{font-size:1.125rem}.uppercase{text-transform:uppercase}.w-screen{width:100vw}.z-10{z-index:10}.z-20{z-index:20}.transform{--transform-translate-x:0;--transform-translate-y:0;--transform-rotate:0;--transform-skew-x:0;--transform-skew-y:0;--transform-scale-x:1;--transform-scale-y:1;-webkit-transform:translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));transform:translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y))}.transition-transform{-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform}.ease-in-out{-webkit-transition-timing-function:cubic-bezier(.4,0,.2,1);transition-timing-function:cubic-bezier(.4,0,.2,1)}.duration-150{-webkit-transition-duration:.15s;transition-duration:.15s}.icon{display:inline-block;fill:currentColor;height:1em;width:1em}@media (min-width:640px){.sm\:flex{display:-webkit-box;display:-ms-flexbox;display:flex}.sm\:flex-col{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.sm\:max-w-xs{max-width:20rem}.sm\:static{position:static}.sm\:top-auto{top:auto}.sm\:right-auto{right:auto}.sm\:bottom-auto{bottom:auto}.sm\:z-10{z-index:10}}@media (min-width:768px){.md\:flex-auto{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto}}
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <!-- Mimic the "bones" of the map view -->
    <div id="app" class="relative">
      <div class="flex flex-row-reverse h-screen overflow-hidden relative w-screen">
        <section class="bg-gray-900 bottom-0 sm:bottom-auto duration-150 ease-in-out fixed sm:static flex flex-col flex-none sm:max-w-xs right-0 sm:right-auto text-gray-200 top-0 sm:top-auto transform transition-transform w-screen z-20 sm:z-10">
          <header class="bg-black flex-none p-4">
            <h1 class="font-bold text-xs text-white uppercase">
              COVID-19 Map: Jeju Island
            </h1>
          </header>

          <div class="flex flex-auto items-center justify-center overflow-hidden">
            Loading&hellip;
          </div>
        </section>

        <div class="bg-mapbox-water flex-none md:flex-auto overflow-hidden w-screen z-10">
        </div>

        <button
          class="bg-indigo-600 flex fixed items-center justify-center leading-none p-4 right-0 text-lg text-white top-0"
          type="button"
          disabled
        >
          <svg
            class="icon"
            height="100"
            viewBox="0 0 100 100"
            width="100"
          >
            <path d="M5.222 20.005l.169.01a5.03 5.03 0 01.39.046l.085.014a3.013 3.013 0 01.212.042l.135.031.061.016a4.413 4.413 0 01.436.137l.07.026.144.057c.02.01.041.018.062.027.055.023.11.048.165.074l.021.011c.057.027.113.056.169.085l.044.025c.127.068.25.142.368.22l.02.014L35 38.991l7.994-5.329c1.444 2.126 3.404 4.826 5.88 8.1L40 47.676v37.981l20-13.333V55.001l.294.227C61.863 56.41 63.431 57 65 57c1.667 0 3.333-.667 5-2v17.324l20 13.333V47.676l-8.876-5.918c2.474-3.258 4.446-5.95 5.917-8.074l10.733 7.157.033.021.144.102-.177-.123a5.077 5.077 0 01.721.583l.04.041a5.034 5.034 0 01.728.92c.01.019.022.037.033.055a2.762 2.762 0 01.118.21 3.167 3.167 0 01.103.203l.01.021-.01-.021a4.964 4.964 0 01.484 2.193v49.912a4.976 4.976 0 01-.267 1.657l-.033.092a2.62 2.62 0 01-.078.201 3.277 3.277 0 01-.084.193 4.059 4.059 0 01-.145.288 5.019 5.019 0 01-.35.553l.117-.167a5.075 5.075 0 01-.193.269l-.044.056a3.39 3.39 0 01-.1.123l-.027.03c-.438.515-.964.92-1.541 1.211l-.072.035a3.638 3.638 0 01-.299.134 4.202 4.202 0 01-.312.115l-.075.024a4.74 4.74 0 01-.385.104l-.03.006a4.991 4.991 0 01-2.091.017l-.068-.015a2.983 2.983 0 01-.122-.027l-.082-.022a3.04 3.04 0 01-.218-.063 3.707 3.707 0 01-.3-.104 5.106 5.106 0 01-.325-.14l-.061-.029a4.94 4.94 0 01-.57-.324l-.019-.014L65.001 81.01 37.774 99.161l-.066.045c-.147.095-.298.18-.452.258l-.031.015-.026.013a5 5 0 01-.125.06l-.034.015-.04.018a4.978 4.978 0 01-.056.024l-.059.024-.034.014-.035.014a4.966 4.966 0 01-.146.054l-.011.004-.042.015a4.961 4.961 0 01-.129.042l-.085.025a3.18 3.18 0 01-.13.037l-.01.002-.035.01a4.963 4.963 0 01-.158.037l-.044.008a4.993 4.993 0 01-2.034.005l-.068-.016a2.983 2.983 0 01-.122-.027l-.082-.022a3.04 3.04 0 01-.218-.063 3.707 3.707 0 01-.3-.104 5.854 5.854 0 01-.053-.021l-.059-.025a5.007 5.007 0 01-.13-.055l-.045-.02a5 5 0 01-.066-.032l-.033-.016a4.968 4.968 0 01-.634-.367L2.227 79.163a4.566 4.566 0 01-.177-.124l.177.123a5.08 5.08 0 01-.605-.473l-.028-.027a4.932 4.932 0 01-.846-1.027l-.051-.086A4.978 4.978 0 010 75V25l.005-.217a4.873 4.873 0 01.297-1.498l.023-.062c.16-.423.377-.819.64-1.178l-.125.181a5.08 5.08 0 01.474-.605l.026-.028c.309-.334.657-.617 1.032-.849l.075-.044a3.325 3.325 0 01.253-.141c.052-.027.104-.053.157-.078l.032-.015A4.96 4.96 0 014.996 20c.075 0 .15.001.226.005zM10 34.343v37.981l20 13.333V47.676L10 34.343zm46.162-32.26c9.601-4.845 21.3-.948 26.128 8.688 2.885 5.74 2.99 12.164.052 17.535-2.36 4.37-11.437 15.744-15.477 20.746-1.05 1.264-2.938 1.264-3.935 0-4.04-5.002-13.22-16.376-15.424-20.746-4.67-9.215-.944-21.379 8.656-26.223zM65.5 12c-4.435 0-8 3.565-8 8 0 4.394 3.565 8 8 8 4.435 0 8.041-3.606 8-8 0-4.394-3.565-8-8-8z" />
          </svg>
        </button>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
