<template>
  <div class="p-4">
    <h2 class="flex items-center justify-between leading-none mb-2 text-xl">
      <I18nText slug="about" />
    </h2>

    <div class="copy">
      <I18nText slug="about_intro__markdown" class="lead" />

      <I18nText slug="about_body__markdown" />
    </div>
  </div>
</template>

<script>
import I18nText from './I18nText.vue'

export default {
  name: 'About',

  components: { I18nText },
}
</script>
