<template>
  <li
    class="duration-75 ease-in-out flex focus:outline-none px-4 py-2 relative focus:shadow-outline transition-colors"
    :class="classes"
    tabindex="0"
    @click="handleClick"
  >
    <i v-if="!last" class="absolute left-0 top-0 bottom-0 w-1 border-l-2 border-dotted border-gray-700 -mb-2 ml-4 mt-2 transform translate-x-1 translate-y-1" />

    <Blip :active="active" :empty="!geocoded" class="mr-2 mt-1 relative" />

    <div class="relative">
      <h4 v-if="label" class="leading-tight">
        <I18nText :id="label" />
      </h4>

      <div class="copy">
        <p>
          <I18nText v-if="description" :id="description[0]" />

          <span v-if="duration" class="block muted">
            {{ duration }}
          </span>
        </p>
      </div>
    </div>
  </li>
</template>

<script>
import moment from 'moment'
import EventBus from '@/event-bus'
import Blip from './Blip.vue'
import I18nText from './I18nText.vue'

export default {
  name: 'ActivityListItem',

  components: { Blip, I18nText },

  props: {
    arrivedAt: { default: null, type: String },
    departedAt: { default: null, type: String },
    description: { default: null, type: Array },
    id: { required: true, type: String },
    geocoded: { default: 0, type: Number },
    last: { default: false, type: Boolean },

    maskStatus: {
      default: 'unknown',
      type: String,
      validator (status) {
        return ['yes', 'some', 'no', 'unknown'].includes(status)
      },
    },

    place: { default: null, type: Array },
    placeName: { default: null, type: Array },
    route: { default: null, type: Array },
    routeName: { default: null, type: Array },

    type: {
      default: null,
      type: String,
      validator (type) { return ['Event', 'Place', 'Route'].includes(type) },
    },
  },

  data () {
    return {
      active: false,
      duration: null,
    }
  },

  computed: {
    classes () {
      return this.geocoded ? ' focus:bg-gray-950 hover:bg-gray-950 cursor-pointer' : ' cursor-default'
    },

    label () {
      const { placeName, routeName, type } = this

      if (type === 'Place') return placeName[0]
      if (type === 'Route') return routeName[0]
      return null
    },
  },

  mounted () {
    this.formatDuration()

    EventBus.$on('map:place-selected', this.determineIfActive)
    EventBus.$on('map:place-deselected', this.deactivate)
    EventBus.$on('i18n:switched', this.formatDuration)
  },

  methods: {
    deactivate () {
      this.active = null
    },

    determineIfActive (activePlaceId) {
      const { place, type } = this
      this.active = type === 'Place' && place === activePlaceId
    },

    formatDuration () {
      moment.locale(this.$i18n.locale)

      const { arrivedAt, departedAt } = this
      const from = moment.utc(arrivedAt)
      const to = moment.utc(departedAt)
      let duration

      /* eslint-disable brace-style */

      // No arrival or departure data
      if (!from._isValid && !to._isValid) {
        duration = null
      }

      // Only arrival data
      else if (!to._isValid) {
        duration = `${from.format('l LT')}`
      }

      // Only departure data
      else if (!from._isValid) {
        duration = `???—${to.format('l LT')}`
      }

      // Arrival and departure are on the same day
      else if (from.isSame(to, 'day')) {
        duration = `${from.format('l LT')} – ${to.format('LT')}`
      }

      // Arrival and departure are on different days
      else {
        duration = `${from.format('l LT')} – ${to.format('l LT')}`
      }

      /* eslint-enable brace-style */

      this.duration = duration
    },

    handleClick () {
      if (!this.geocoded) return
      EventBus.$emit('map:select-place', this.place[0])
    },
  },
}
</script>
