<template>
  <Spinner v-if="!loaded" />

  <ol v-else class="-mx-4">
    <ActivityListItem
      v-for="(activity, index) in activities"
      :id="activity.id"
      :key="activity.id"
      v-bind="activity.fields"
      :last="isLast(index)"
    />
  </ol>
</template>

<script>
import BASE from '@/airtable'
import ActivityListItem from './ActivityListItem.vue'
import Spinner from './Spinner.vue'

export default {
  name: 'ActivityList',

  components: { ActivityListItem, Spinner },

  props: {
    caseKey: {
      required: true,
      type: Number,
    },
  },

  data () {
    return {
      activities: null,
      loaded: false,
    }
  },

  mounted () {
    this.getActivities()
  },

  methods: {
    getActivities () {
      const { caseKey } = this
      const query = {
        fields: [
          'arrivedAt',
          'departedAt',
          'description',
          'geocoded',
          'hidden',
          'maskStatus',
          'place',
          'placeName',
          'route',
          'routeName',
          'type',
        ],
        filterByFormula: `AND(
          NOT({hidden}),
          SEARCH('${caseKey}', {caseKeys})
        )`,
        sort: [
          { field: 'arrivedAt', direction: 'asc' },
          { field: 'departedAt', direction: 'asc' },
        ],
      }

      BASE('activities').select(query).firstPage((err, records) => {
        if (err) { console.error(err); return }
        this.activities = records
        this.loaded = true
      })
    },

    isLast (index) {
      return this.activities.length - index === 1
    },
  },
}
</script>
