<template>
  <div class="flex flex-row-reverse h-screen overflow-hidden relative w-screen">
    <Drawer :class="drawerClasses" />

    <MapView />

    <MapToggle
      v-if="isMobile"
      class="z-30"
      :drawer-expanded="drawerExpanded"
      @click.passive="toggleMobileView"
    />

    <I18nToggle class="z-30" />
  </div>
</template>

<script>
import EventBus from '@/event-bus'
import Drawer from './Drawer.vue'
import I18nToggle from './I18nToggle.vue'
import MapToggle from './MapToggle.vue'
import MapView from './MapView.vue'

export default {
  name: 'App',

  components: { Drawer, I18nToggle, MapToggle, MapView },

  data () {
    return {
      drawerExpanded: true,
      isMobile: null,
    }
  },

  computed: {
    drawerClasses () {
      const { drawerExpanded, isMobile } = this
      if (!isMobile) return
      return drawerExpanded ? 'translate-x-0' : 'translate-x-full'
    },
  },

  mounted () {
    window.addEventListener('resize', this.checkWindowWidth, true)
    this.checkWindowWidth()
    EventBus.$on('map:select-place', this.closeDrawer)
  },

  beforeDestroy () {
    window.removeEventListener('resize', this.checkWindowWidth, true)
  },

  methods: {
    checkWindowWidth () {
      this.isMobile = window.innerWidth < 640
    },

    closeDrawer () {
      this.drawerExpanded = false
    },

    toggleMobileView () {
      this.drawerExpanded = !this.drawerExpanded
    },
  },
}
</script>
