<template>
  <span class="bg-red-600 inline-flex items-center px-2 py-0.5 rounded text-xs leading-4 text-red-200">
    <slot />
  </span>
</template>

<script>
export default {
  name: 'Badge',
}
</script>
