<template>
  <i
    class="border border-solid border-transparent block duration-150 ease-in-out flex-none h-3 rounded-full transition-colors w-3"
    :class="classes"
  />
</template>

<script>
export default {
  name: 'Blip',

  props: {
    active: {
      default: false,
      type: Boolean,
    },

    empty: {
      default: false,
      type: Boolean,
    },
  },

  computed: {
    classes () {
      const { active, empty } = this

      if (active) return 'bg-red-600'
      if (empty) return 'bg-gray-900 border-indigo-600'
      return 'bg-indigo-600'
    },
  },
}
</script>
