<template>
  <button
    type="button"
    class="bg-indigo-600 hover:bg-indigo-500 active:bg-indigo-700 border border-transparent focus:border-indigo-700 duration-150 ease-in-out font-medium inline-flex items-center leading-5 focus:outline-none px-4 py-2 rounded-md focus:shadow-outline text-sm text-white transition"
    @click="$emit('click')"
    @keyup.space="$emit('click')"
  >
    <slot name="default">
      Button Text
    </slot>
  </button>
</template>

<script>
export default {
  name: 'Button',

  data () {
    return {}
  },
}
</script>
