<template>
  <Spinner v-if="!loaded" />

  <div v-else class="pb-12 pt-4 px-4">
    <h2 class="flex items-center justify-between leading-none mb-2 text-xl">
      <span>
        <I18nText slug="case" /> #{{ caseNumber }}
      </span>

      <a
        href="#close"
        class="focus:bg-gray-950 hover:bg-gray-950 duration-150 ease-in-out -m-3 focus:outline-none p-3 rounded-sm focus:shadow-outline text-gray-600 focus:text-white hover:text-white text-base transition-color"
        @click.prevent="dismiss"
        @key.space.self="dismiss"
      >
        <svg
          class="icon"
          height="100"
          viewBox="0 0 100 100"
          width="100"
        >
          <path d="M81.645 11.292a5 5 0 016.89 7.244L57.072 50l31.465 31.464a5 5 0 01-6.89 7.244l-.182-.172L50 57.07 18.536 88.536l-.181.172a5 5 0 01-6.89-7.244L42.928 50 11.464 18.536a5 5 0 016.89-7.244l.182.172L50 42.93l31.464-31.465z" />
        </svg>
      </a>
    </h2>

    <I18nText :id="description" markdown class="copy" />

    <h3 class="mb-2 text-xs tracking-wider uppercase">
      <I18nText slug="activity" />
    </h3>

    <div class="min-h-12 relative">
      <ActivityList :case-key="key" />
    </div>

    <div v-if="sourceUrl" class="copy py-2">
      <a
        :href="sourceUrl"
        target="blank"
        rel="noopener"
        class="hover:text-white underline"
      >
        <I18nText slug="view_source_data" />
      </a>
    </div>

    <Button @click="dismiss">
      <I18nText slug="close_case" />
    </Button>
  </div>
</template>

<script>
import BASE from '@/airtable'
import EventBus from '@/event-bus'
import ActivityList from './ActivityList.vue'
import Button from './Button.vue'
import I18nText from './I18nText.vue'
import Spinner from './Spinner.vue'

export default {
  name: 'Case',

  components: { Button, ActivityList, I18nText, Spinner },

  props: {
    id: {
      required: true,
      type: String,
    },
  },

  data () {
    return {
      record: null,
      loaded: false,
    }
  },

  computed: {
    activities () { return this.record.fields.activities },
    key () { return this.record.fields.key },
    description () { return this.record.fields.description[0] },
    caseNumber () { return this.record.fields.caseNumber },
    sourceUrl () { return this.record.fields.sourceUrl },
  },

  mounted () {
    this.getCase()

    window.addEventListener('keyup', this.handleGlobalKeyPress, true)
  },

  beforeDestroy () {
    window.removeEventListener('keyup', this.handleGlobalKeyPress, true)
  },

  methods: {
    dismiss () {
      EventBus.$emit('case:dismiss', this.id)
    },

    getCase () {
      BASE('cases').find(this.id, (err, record) => {
        if (err) { console.error(err); return }
        this.record = record
        this.loaded = true
      })
    },

    // Dismiss if the `esc` key was pressed
    handleGlobalKeyPress (event) {
      if (event && event.type === 'keyup' && event.keyCode !== 27) return
      this.dismiss()
    },
  },
}
</script>
