<template>
  <Spinner v-if="!loaded" />

  <ol v-else-if="selected === null">
    <CaseListItem
      v-for="item in cases"
      :id="item.id"
      :key="item.id"
      ref="cases"
      v-bind="item.fields"
    />
  </ol>

  <Case v-else :id="selected" />
</template>

<script>
import BASE from '@/airtable'
import EventBus from '@/event-bus.js'
import Case from './Case.vue'
import CaseListItem from './CaseListItem.vue'
import Spinner from './Spinner.vue'

export default {
  name: 'CaseList',

  components: { Case, CaseListItem, Spinner },

  data () {
    return {
      cases: [],
      loaded: false,
      selected: null,
      focused: null,
    }
  },

  mounted () {
    this.getCases()

    EventBus.$on('case-list:focus-next', this.focusNext)
    EventBus.$on('case-list:focus-prev', this.focusPrev)
    EventBus.$on('case-list:select', this.select)
    EventBus.$on('case:dismiss', this.dismiss)
  },

  beforeDestroy () {
    EventBus.$off('case-list:focus-next', this.focusNext)
    EventBus.$off('case-list:focus-prev', this.focusPrev)
    EventBus.$off('case-list:select', this.select)
    EventBus.$off('case:dismiss', this.dismiss)
  },

  methods: {
    dismiss (id) {
      this.selected = null

      this.$nextTick(() => { this.focus(id) })
    },

    focus (id) {
      this.focused = this.getCaseIndex(id)
      EventBus.$emit('case-list:focus', id)
    },

    focusNext () {
      const { focused, cases } = this
      const index = (cases.length - focused === 1) ? 0 : focused + 1

      this.focus(cases[index].id)
    },

    focusPrev () {
      const { focused, cases } = this
      const index = (focused === 0) ? cases.length - 1 : focused - 1

      this.focus(cases[index].id)
    },

    getCases () {
      const query = {
        fields: ['caseNumber', 'startedAt', 'endedAt'],
        filterByFormula: '{isPublished}',
        sort: [{ field: 'caseNumber', direction: 'desc' }],
        view: 'Grid view',
      }

      BASE('cases').select(query).firstPage((err, records) => {
        if (err) { console.error(err); return }
        this.cases = records
        this.loaded = true
      })
    },

    getCaseIndex (id) {
      const index = this.cases.findIndex(c => c.id === id)
      return index === -1 ? null : index
    },

    select (id) {
      this.selected = id
    },
  },
}
</script>
