<template>
  <li class="border-b border-gray-800 border-solid" role="presentation">
    <button
      ref="control"
      type="button"
      class="focus:bg-gray-950 hover:bg-gray-950 duration-150 ease-in-out flex focus:outline-none p-4 focus:shadow-outline text-left transition-colors w-full"
      role="listitem"
      @click="bus.$emit('case-list:select', id)"
      @keyup.down="bus.$emit('case-list:focus-next')"
      @keyup.up="bus.$emit('case-list:focus-prev')"
    >
      <Blip class="mr-2 mt-1" />

      <span class="leading-tight">
        <span class="flex items-center">
          <I18nText slug="case" />
          #{{ caseNumber }}

          <Badge
            v-if="!inactive"
            class="ml-2"
            title="This case has occurred within the past two weeks."
          >
            <I18nText slug="active" />
          </Badge>
        </span>

        <span v-if="dates" class="block text-gray-600 text-xs">
          {{ dates }}
        </span>
      </span>
    </button>
  </li>
</template>

<script>
import moment from 'moment'
import EventBus from '@/event-bus'
import Badge from './Badge.vue'
import Blip from './Blip.vue'
import I18nText from './I18nText.vue'

export default {
  name: 'CaseListItem',

  components: { Badge, Blip, I18nText },

  props: {
    caseNumber: {
      required: true,
      type: Number,
    },

    endedAt: {
      required: true,
      type: String,
    },

    id: {
      required: true,
      type: String,
    },

    startedAt: {
      required: true,
      type: String,
    },
  },

  data () {
    return {
      bus: EventBus,
      dates: null,
    }
  },

  computed: {
    inactive () {
      const { endedAt } = this
      const twoWeeksAgo = moment().subtract(2, 'weeks')
      return moment(endedAt).isBefore(twoWeeksAgo)
    },
  },

  mounted () {
    this.formatDateRange()

    EventBus.$on('case-list:focus', this.focusIfThisCaseWasDismissed)
    EventBus.$on('i18n:switched', this.formatDateRange)
  },

  beforeDestroy () {
    EventBus.$off('case-list:focus', this.focusIfThisCaseWasDismissed)
    EventBus.$off('i18n:switched', this.formatDateRange)
  },

  methods: {
    focusIfThisCaseWasDismissed (caseId) {
      if (this.id === caseId) this.$refs.control.focus()
    },

    formatDateRange () {
      moment.locale(this.$i18n.locale)

      const { startedAt, endedAt } = this
      const start = moment(startedAt)
      const end = moment(endedAt)

      let dateRange

      /* eslint-disable brace-style */

      // e.g. `Mar 7, 2020`
      if (start.isSame(end, 'day')) {
        dateRange = start.format('MMM D, YYYY')
      }

      // e.g. `Mar 7—9, 2020`
      else if (start.isSame(end, 'month')) {
        dateRange = `${start.format('MMM D')}—${end.format('D, YYYY')}`
      }

      // e.g. `Mar 29—Apr 3, 2020`
      else if (start.isSame(end, 'year')) {
        dateRange = `${start.format('MMM D')}—${end.format('D, YYYY')}`
      }

      // e.g. `Dec 29, 2020—Jan 2, 2021`
      else {
        dateRange = `${start.format('MMM D, YYYY')}—${end.format('MMM D, YYYY')}`
      }

      this.dates = dateRange
    },
  },
}
</script>
