<template>
  <section class="bg-gray-900 bottom-0 sm:bottom-auto duration-150 ease-in-out fixed sm:static flex flex-col flex-none sm:max-w-xs right-0 sm:right-auto text-gray-200 top-0 sm:top-auto transform transition-transform w-screen z-20 sm:z-10">
    <header class="bg-black flex-none p-4">
      <h1 class="font-bold text-xs text-white uppercase">
        <I18nText slug="app_name" />
      </h1>
    </header>

    <div class="flex flex-auto overflow-hidden relative">
      <Intro v-if="showIntro" @dismiss="showIntro = false" />

      <TabGroup v-else rel="map-tabs" :tabs="tabs">
        <template v-slot:casestab>
          <CaseList />
        </template>

        <template v-slot:abouttab>
          <About />
        </template>
      </TabGroup>
    </div>
  </section>
</template>

<script>
import About from './About.vue'
import CaseList from './CaseList.vue'
import I18nText from './I18nText.vue'
import Intro from './Intro.vue'
import TabGroup from './TabGroup.vue'

export default {
  name: 'Drawer',

  components: { About, CaseList, I18nText, Intro, TabGroup },

  data () {
    return {
      showIntro: process.env.NODE_ENV === 'production',

      tabs: [
        { label: 'tab_cases', panelId: 'casestab' },
        { label: 'tab_about', panelId: 'abouttab' },
      ],
    }
  },
}
</script>
