<template>
  <button class="bg-indigo-600 hover:bg-indigo-700 active:bg-indigo-800 border-indigo-700 border-r sm:border-r-0 border-solid flex fixed items-center justify-center leading-none mr-12 sm:mr-2 sm:my-2 p-4 sm:p-2 right-0 sm:rounded-sm text-lg text-white top-0" @click.passive="toggleLocale">
    <svg class="icon" viewBox="0 0 100 100">
      <path d="M48 0a8 8 0 018 8v25.999L92 34a8 8 0 018 8v50a8 8 0 01-1.6 4.8l-.165.213A8 8 0 0187.2 98.4L76 90H52a8 8 0 01-8-8V56H24l-11.2 8.4a8 8 0 01-11.035-1.387L1.6 62.8A8 8 0 010 58V8a8 8 0 018-8zm44 40H56v8a8.004 8.004 0 01-5.835 7.704l-.23.06.065-.016V82a2 2 0 002 2h26l12.8 9.6A2 2 0 0094 92V42a2 2 0 00-2-2zm-17.41 5.484l.093.174 15 30c1.762 3.524-3.416 6.18-5.283 2.842l-.083-.158L80.145 70H63.854l-4.17 8.342a3 3 0 01-3.86 1.418l-.166-.077a3 3 0 01-1.418-3.859l.077-.166 15-30c1.075-2.151 4.092-2.21 5.272-.174zM72 53.708L66.854 64h10.291L72 53.708zM48 6H8a2 2 0 00-2 2v50a2 2 0 003.2 1.6L22 50h26a2 2 0 002-2V8a2 2 0 00-2-2zm-12 4a3 3 0 012.995 2.824L39 13v12h4a3 3 0 012.995 2.824L46 28a3 3 0 01-2.824 2.995L43 31h-4v12c0 3.931-5.795 3.999-5.995.203L33 43V13a3 3 0 013-3zm-14.5 2c5.4 0 8.5 7.327 8.5 16s-3.1 16-8.5 16S13 36.673 13 28l.002-.376C13.09 19.116 16.178 12 21.5 12zm0 6.124l-.127.133c-.323.366-.674.951-1 1.72C19.517 22.005 19 24.887 19 28c0 3.114.516 5.995 1.374 8.023.361.854.754 1.482 1.106 1.834l.02.018.127-.132c.287-.325.596-.824.89-1.47l.11-.25C23.483 33.995 24 31.113 24 28c0-3.114-.516-5.995-1.374-8.023-.361-.854-.754-1.482-1.106-1.834l-.02-.019z" />
    </svg>

    <span class="font-bold hidden sm:block ml-2 text-xs uppercase">
      <I18nText slug="switch_language" />
    </span>
  </button>
</template>

<script>
import EventBus from '@/event-bus'
import I18nText from './I18nText.vue'

export default {
  name: 'I18nToggle',

  components: { I18nText },

  computed: {
    label () {
      return 'EN'
    },
  },

  methods: {
    toggleLocale () {
      EventBus.$emit('i18n:switch')
    },
  },
}
</script>
