<template>
  <div class="p-8 overflow-y-auto">
    <img src="@/assets/images/dol-hareubang-with-mask.svg" alt="Dol Hareubang with Mask" class="block mb-4 mx-auto w-12">

    <div class="copy">
      <p class="lead">
        <I18nText slug="intro_lead" />
      </p>

      <p>
        <strong class="font-bold uppercase">
          <I18nText slug="important" />:
        </strong>
      </p>

      <I18nText slug="intro_body__markdown" />
    </div>

    <Button class="mb-8" @click="$emit('dismiss')">
      <I18nText slug="intro_button_label" />
    </Button>
  </div>
</template>

<script>
import Button from './Button.vue'
import I18nText from './I18nText.vue'

export default {
  name: 'Intro',

  components: { Button, I18nText },
}
</script>
