<template>
  <div ref="root">
    <Spinner v-if="!loaded" class="bg-gray-900 mx-2 scale-75 transform" />

    <div v-else-if="place">
      <h6 class="text-base text-white">
        <I18nText :id="place.fields.label[0]" :key="place.fields.label[0]" />
      </h6>

      <p v-if="caseNumbers.length" class="leading-tight mb-2">
        <I18nText slug="visited_by" />

        #{{ caseNumbers.join(', #') }}
      </p>

      <p class="leading-tight text-gray-600">
        <I18nText :id="place.fields.address[0]" :key="place.fields.address[0]" />
      </p>

      <nav class="flex leading-tight text-gray-600">
        <I18nText slug="view_map" />

        <MapServiceLink :address="mapServiceAddress" service="kakao" />
        <MapServiceLink :address="mapServiceAddress" service="naver" />
        <MapServiceLink :address="mapServiceAddress" service="google" />
      </nav>
    </div>
  </div>
</template>

<script>
import EventBus from '@/event-bus'
import BASE from '@/airtable'
import I18nText from './I18nText.vue'
import MapServiceLink from './MapServiceLink.vue'
import Spinner from './Spinner.vue'

export default {
  name: 'MapPopup',

  components: { I18nText, MapServiceLink, Spinner },

  props: {
    placeId: {
      default: null,
      type: String,
    },
  },

  data () {
    return {
      caseNumbers: [],
      loaded: false,
      place: null,
    }
  },

  computed: {
    mapServiceAddress () {
      const { fields } = this.place
      return fields ? fields.mapServiceAddress[0] : null
    },
  },

  watch: {
    placeId (newValue, oldValue) {
      this.update(newValue)
    },
  },

  mounted () {
    EventBus.$emit('map:popup-markup-generated', this.$refs.root.outerHTML)
    EventBus.$on('map:place-deselected', this.unsetPlace)
    EventBus.$on('map:place-selected', this.setPlace)
    EventBus.$on('i18n:switched', this.update)
  },

  beforeDestroy () {
    EventBus.$off('map:place-deselected', this.unsetPlace)
    EventBus.$off('map:place-selected', this.setPlace)
    EventBus.$off('i18n:switched', this.update)
  },

  methods: {
    getCaseNumbers (record) {
      const caseIDs = record.fields.caseKeys
      const caseNumbers = []

      BASE('cases').select({
        fields: ['caseNumber'],
      }).firstPage((err, records) => {
        if (err) { console.error(err); return }

        records.forEach(r => {
          if (!caseIDs.includes(r.id)) return
          caseNumbers.push(r.fields.caseNumber)
        })

        this.place = record
        this.caseNumbers = [...new Set(caseNumbers)].filter(i => i).sort((a, b) => a - b)
        this.loaded = true

        this.$nextTick(() => {
          EventBus.$emit('map:popup-markup-generated', this.$refs.root.outerHTML)
        })
      })
    },

    setPlace (placeId) {
      if (!placeId) { this.unsetPlace(); return }

      BASE('places').find(placeId, (err, record) => {
        if (err) { console.error(err); return }
        this.getCaseNumbers(record)
      })
    },

    unsetPlace () {
      this.caseNumbers = []
      this.loaded = false
      this.place = null

      this.$nextTick(() => {
        EventBus.$emit('map:popup-markup-generated', this.$refs.root.outerHTML)
      })
    },

    update () {
      if (this.placeId) {
        this.setPlace(this.placeId)
        return
      }

      this.unsetPlace()
    },
  },
}
</script>
