<template>
  <a
    v-if="address"
    :href="url"
    class="ml-1 hover:text-gray-300 underline"
    rel="noopener"
    target="_blank"
  >
    <I18nText :slug="service" />
  </a>
</template>

<script>
import I18nText from './I18nText.vue'

export default {
  name: 'MapServiceLink',

  components: { I18nText },

  props: {
    address: {
      required: true,
      type: String,
    },

    service: {
      default: 'kakao',
      type: String,
      validator (service) {
        return ['google', 'kakao', 'naver'].includes(service)
      },
    },
  },

  computed: {
    url () {
      const { address, service } = this
      let href

      if (service === 'kakao') {
        href = `https://map.kakao.com/?q=${address}`
      }

      if (service === 'naver') {
        href = `https://map.naver.com/v5/search/${address}/`
      }

      if (service === 'google') {
        href = `https://www.google.com/maps/search/${address}/`
      }

      return encodeURI(href)
    },
  },
}
</script>
