<template>
  <button
    class="bg-indigo-600 hover:bg-indigo-700 active:bg-indigo-800 flex fixed items-center justify-center leading-none p-4 right-0 text-lg text-white top-0"
    type="button"
    @click.passive="$emit('click')"
  >
    <svg
      class="icon"
      height="100"
      viewBox="0 0 100 100"
      width="100"
    >
      <path v-if="drawerExpanded" d="M5.222 20.005l.169.01a5.03 5.03 0 01.39.046l.085.014a3.013 3.013 0 01.212.042l.135.031.061.016a4.413 4.413 0 01.436.137l.07.026.144.057c.02.01.041.018.062.027.055.023.11.048.165.074l.021.011c.057.027.113.056.169.085l.044.025c.127.068.25.142.368.22l.02.014L35 38.991l7.994-5.329c1.444 2.126 3.404 4.826 5.88 8.1L40 47.676v37.981l20-13.333V55.001l.294.227C61.863 56.41 63.431 57 65 57c1.667 0 3.333-.667 5-2v17.324l20 13.333V47.676l-8.876-5.918c2.474-3.258 4.446-5.95 5.917-8.074l10.733 7.157.033.021.144.102-.177-.123a5.077 5.077 0 01.721.583l.04.041a5.034 5.034 0 01.728.92c.01.019.022.037.033.055a2.762 2.762 0 01.118.21 3.167 3.167 0 01.103.203l.01.021-.01-.021a4.964 4.964 0 01.484 2.193v49.912a4.976 4.976 0 01-.267 1.657l-.033.092a2.62 2.62 0 01-.078.201 3.277 3.277 0 01-.084.193 4.059 4.059 0 01-.145.288 5.019 5.019 0 01-.35.553l.117-.167a5.075 5.075 0 01-.193.269l-.044.056a3.39 3.39 0 01-.1.123l-.027.03c-.438.515-.964.92-1.541 1.211l-.072.035a3.638 3.638 0 01-.299.134 4.202 4.202 0 01-.312.115l-.075.024a4.74 4.74 0 01-.385.104l-.03.006a4.991 4.991 0 01-2.091.017l-.068-.015a2.983 2.983 0 01-.122-.027l-.082-.022a3.04 3.04 0 01-.218-.063 3.707 3.707 0 01-.3-.104 5.106 5.106 0 01-.325-.14l-.061-.029a4.94 4.94 0 01-.57-.324l-.019-.014L65.001 81.01 37.774 99.161l-.066.045c-.147.095-.298.18-.452.258l-.031.015-.026.013a5 5 0 01-.125.06l-.034.015-.04.018a4.978 4.978 0 01-.056.024l-.059.024-.034.014-.035.014a4.966 4.966 0 01-.146.054l-.011.004-.042.015a4.961 4.961 0 01-.129.042l-.085.025a3.18 3.18 0 01-.13.037l-.01.002-.035.01a4.963 4.963 0 01-.158.037l-.044.008a4.993 4.993 0 01-2.034.005l-.068-.016a2.983 2.983 0 01-.122-.027l-.082-.022a3.04 3.04 0 01-.218-.063 3.707 3.707 0 01-.3-.104 5.854 5.854 0 01-.053-.021l-.059-.025a5.007 5.007 0 01-.13-.055l-.045-.02a5 5 0 01-.066-.032l-.033-.016a4.968 4.968 0 01-.634-.367L2.227 79.163a4.566 4.566 0 01-.177-.124l.177.123a5.08 5.08 0 01-.605-.473l-.028-.027a4.932 4.932 0 01-.846-1.027l-.051-.086A4.978 4.978 0 010 75V25l.005-.217a4.873 4.873 0 01.297-1.498l.023-.062c.16-.423.377-.819.64-1.178l-.125.181a5.08 5.08 0 01.474-.605l.026-.028c.309-.334.657-.617 1.032-.849l.075-.044a3.325 3.325 0 01.253-.141c.052-.027.104-.053.157-.078l.032-.015A4.96 4.96 0 014.996 20c.075 0 .15.001.226.005zM10 34.343v37.981l20 13.333V47.676L10 34.343zm46.162-32.26c9.601-4.845 21.3-.948 26.128 8.688 2.885 5.74 2.99 12.164.052 17.535-2.36 4.37-11.437 15.744-15.477 20.746-1.05 1.264-2.938 1.264-3.935 0-4.04-5.002-13.22-16.376-15.424-20.746-4.67-9.215-.944-21.379 8.656-26.223zM65.5 12c-4.435 0-8 3.565-8 8 0 4.394 3.565 8 8 8 4.435 0 8.041-3.606 8-8 0-4.394-3.565-8-8-8z" />

      <path v-else d="M17.5 68a7.5 7.5 0 110 15 7.5 7.5 0 010-15zM85 70a5 5 0 010 10H40a5 5 0 010-10h45zM17.5 43a7.5 7.5 0 110 15 7.5 7.5 0 010-15zM85 45a5 5 0 010 10H40a5 5 0 010-10h45zM17.5 18a7.5 7.5 0 110 15 7.5 7.5 0 010-15zM85 20a5 5 0 010 10H40a5 5 0 010-10h45z" />
    </svg>
  </button>
</template>

<script>
export default {
  name: 'MapToggle',

  props: {
    drawerExpanded: {
      default: true,
      type: Boolean,
    },
  },
}
</script>
