<template>
  <div class="bg-mapbox-water flex flex-none md:flex-auto items-stretch justify-stretch overflow-hidden w-screen z-10">
    <div id="wrapper" rel="wrapper" class="max-w-full w-screen" />

    <div class="absolute hidden invisible">
      <MapPopup :place-id="active" />
    </div>
  </div>
</template>

<script>
import mapboxgl from 'mapbox-gl'
import MapboxLanguage from '@mapbox/mapbox-gl-language'
import BASE from '@/airtable'
import EventBus from '@/event-bus'
import MapPopup from './MapPopup.vue'

mapboxgl.accessToken = process.env.VUE_APP_MAPBOX_ACCESS_TOKEN

export default {
  name: 'MapView',

  components: { MapPopup },

  data () {
    return {
      active: null,
      hovered: null,
      map: null,
      popup: null,
      popupMarkup: null,
    }
  },

  mounted () {
    EventBus.$on('i18n:switched', this.setMapLocale)
    EventBus.$on('map:select-place', this.selectPlace)
    EventBus.$on('map:popup-markup-generated', this.setPopupHTML)

    this.getMapboxStyles().then(() => {
      this.createMap()

      this.map.on('load', () => {
        this.addLangauges()
        this.addSources()
        this.addRoutesLayer()
        this.addPlacesLayer()
        this.handleEvents()
      })
    })
  },

  beforeDestroy () {
    this.map.remove()

    EventBus.$off('i18n:switched', this.setMapLocale)
    EventBus.$off('map:select-place', this.selectPlace)
    EventBus.$off('map:popup-markup-generated', this.setPopupHTML)
  },

  methods: {
    addLangauges () {
      this.langControl = new MapboxLanguage({
        defaultLanguage: this.$i18n.locale,
        supportedLanguages: ['en', 'ko'],
      })

      this.map.addControl(this.langControl)
    },

    addPlacesLayer () {
      this.map.addLayer({
        id: 'places',
        source: 'places',
        type: 'circle',
        paint: {
          'circle-radius': [
            'interpolate', ['linear'], ['zoom'],
            10, 4,
            12, 8,
          ],
          'circle-color': ['case',
            ['boolean', ['feature-state', 'active'], false], '#e53e3e',
            ['boolean', ['feature-state', 'hovered'], false], '#434190',
            '#5a67d8',
          ],
        },
      })

      this.map.setLayerZoomRange('places', 4, 20)
    },

    addRoutesLayer () {
      this.map.addLayer({
        id: 'routes',
        source: 'routes',
        type: 'line',
        layout: {
          'line-cap': 'round',
          'line-join': 'round',
        },
        paint: {
          'line-color': '#5a67d8',
          'line-dasharray': [0, 2.5],
          'line-width': [
            'interpolate', ['linear'], ['zoom'],
            11, 1,
            12, 2.5,
          ],
          'line-opacity': 0.8,
        },
      })

      this.map.setLayerZoomRange('routes', 4, 20)
    },

    addSources () {
      this.map.addSource('places', {
        data: '/db/places.geojson',
        promoteId: 'id',
        type: 'geojson',
      })

      this.map.addSource('routes', {
        data: '/db/routes.geojson',
        promoteId: 'id',
        type: 'geojson',
      })
    },

    createMap () {
      const map = new mapboxgl.Map({
        container: 'wrapper',
        style: process.env.VUE_APP_MAPBOX_STYLE_URL,
        center: [126.561893, 33.387482],
        zoom: 9.5,
      })

      this.map = map
      this.$emit('map-created')
    },

    deselectPlace () {
      const id = this.active

      if (!id) return

      this.map.setFeatureState({ id, source: 'places' }, { active: false })
      EventBus.$emit('map:place-deselected', id)
    },

    handleEvents () {
      const { map } = this

      // When the user moves their mouse over the layer,
      // we'll update the state for the feature under the mouse
      map.on('mousemove', 'places', (event) => {
        if (!event.features.length) return
        if (this.hovered) this.setHoverState(this.hovered, false)
        this.setHoverState(event.features[0].id, true)
        this.hovered = event.features[0].id
      })

      // Change the cursor to a pointer when the mouse is over the layer
      map.on('mouseenter', 'places', () => {
        map.getCanvas().style.cursor = 'pointer'
      })

      // When the mouse leaves the layer,
      // update the state of the previously hovered feature
      map.on('mouseleave', 'places', () => {
        map.getCanvas().style.cursor = ''
        if (this.hovered) this.setHoverState(this.hovered, false)
        this.hovered = null
      })

      map.on('click', 'places', (event) => {
        if (!event.features.length) return
        EventBus.$emit('map:select-place', event.features[0].id)
      })
    },

    getMapboxStyles () {
      return new Promise((resolve) => {
        const { head } = document
        const firstStylesheet = head.querySelector('style')
        const link = document.createElement('link')

        link.type = 'text/css'
        link.rel = 'stylesheet'
        link.href = 'https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css'

        if (firstStylesheet) head.insertBefore(link, firstStylesheet)
        else document.head.appendChild(link)

        resolve()
      })
    },

    setHoverState (id, state) {
      this.map.setFeatureState({ id, source: 'places' }, { hovered: state })
    },

    selectPlace (id) {
      if (id === this.active) return

      this.deselectPlace()

      this.map.setFeatureState({ id, source: 'places' }, { active: true })
      this.showPopup(id)
      this.active = id
      EventBus.$emit('map:place-selected', id)
    },

    setMapLocale (locale) {
      this.map.setStyle(this.langControl.setLanguage(
        this.map.getStyle(),
        locale,
      ))
    },

    setPopupHTML (html) {
      this.popupMarkup = html

      if (this.popup) {
        this.$nextTick(() => { this.popup.setHTML(this.popupMarkup) })
      }
    },

    showPopup (placeId) {
      BASE('places').find(placeId, (err, place) => {
        if (err) { console.error(err); return }

        const coords = JSON.parse(place.fields.coordinates).slice()

        // Remove previous popups if they exist
        if (this.popup) this.popup.remove()

        // Create a new popup
        this.popup = new mapboxgl.Popup({ maxWidth: '300px' })
        this.popup.setLngLat(coords).setHTML(this.popupMarkup).addTo(this.map)

        // Move the map to the popup
        this.map.flyTo({ center: coords, speed: 0.25 })

        this.popup.on('open', () => {
          this.selectPlace(placeId)
        })

        this.popup.on('close', () => {
          this.deselectPlace()
          this.active = null
        })
      })
    },
  },
}
</script>
