<template>
  <div class="absolute flex inset-0 items-center justify-center">
    <svg
      class="block h-12 m-auto stroke-current text-gray-600 w-12"
      preserveAspectRatio="xMidYMid"
      viewBox="0 0 100 100"
    >
      <circle
        cx="50"
        cy="50"
        fill="none"
        r="44"
        stroke-dasharray="207.34511513692632 71.11503837897544"
        stroke-width="4"
      >
        <animateTransform
          attributeName="transform"
          dur="2s"
          keyTimes="0;1"
          repeatCount="indefinite"
          type="rotate"
          values="0 50 50;360 50 50"
        />
      </circle>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'Spinner',
}
</script>
