<template>
  <ul role="tablist" class="flex flex-none text-gray-600 text-xs uppercase">
    <TabNavItem
      v-for="tab in tabs"
      :key="tab.panelId"
      v-bind="tab"
      :selected="tab.panelId === selectedPanelId"
    />
  </ul>
</template>

<script>
import TabNavItem from './TabNavItem.vue'

/**
 * The `TabNav` component houses the nav links that allow
 * the user to control which tab panel is currently visible.
 */
export default {
  name: 'TabNav',

  components: { TabNavItem },

  props: {
    /** Inherited from the `TabGroup` component. */
    rel: {
      default: null,
      type: String,
    },

    /** The ID of the selected panel. */
    selectedPanelId: {
      default: null,
      type: String,
    },

    /** Inherited from the `TabGroup` component. */
    tabs: {
      default: null,
      type: Array,
    },
  },
}
</script>
