<template>
  <li class="flex" role="presentation">
    <a
      :id="id"
      :aria-selected="ariaSelected"
      :href="href"
      :tabindex="tabindex"
      class="border-b-2 border-solid duration-150 ease-in-out flex group items-center focus:outline-none px-4 py-2 relative focus:shadow-outline transition-colors"
      :class="classes"
      role="tab"
      @click.prevent="bus.$emit('tab:select', panelId)"
      @keyup.down="bus.$emit('tab:focus-panel', panelId)"
      @keyup.left="bus.$emit('tab:prev')"
      @keyup.right="bus.$emit('tab:next')"
    >
      <I18nText :slug="label" />
    </a>
  </li>
</template>

<script>
import EventBus from '@/event-bus'
import I18nText from './I18nText.vue'

/**
 * The `TabNavItem` component allows the user to see the associated tab panel
 * upon click or keyboard nav.
 */
export default {
  name: 'TabNavItem',

  components: { I18nText },

  props: {
    /**
     * The text value of this tab. Inherited from a single `tab` object
     * within the `TabGroup` component's `tabs` array.
     */
    label: {
      default: 'Tab',
      type: String,
    },

    /**
     * The `id` of the panel element that this tab controls. Inherited from
     * a single `tab` object within the `TabGroup` component's
     * `tabs` array.
     */
    panelId: {
      required: true,
      type: String,
    },

    /**
     * Whether this tab is selected or not. Inherited from a single `tab`
     * object within the `TabGroup` component's `tabs` array.
     */
    selected: {
      default: false,
      type: Boolean,
    },
  },

  data () {
    return {
      bus: EventBus,
    }
  },

  computed: {
    ariaSelected () {
      return this.selected ? 'true' : null
    },

    classes () {
      if (this.selected) return 'border-gray-600 text-white'
      return 'border-transparent hover:border-gray-800 hover:text-gray-300'
    },

    href () {
      return `#${this.panelId}`
    },

    id () {
      return `${this.panelId}-tab`
    },

    tabindex () {
      return this.selected ? null : '-1'
    },
  },
}
</script>
