/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.copy {
  @apply mb-4 text-gray-300 text-xs;
}

.copy .lead {
  @apply text-sm text-white;
}

.copy .muted {
  @apply text-gray-600;
}

.copy > * + * {
  @apply mt-2;
}

.copy a {
  @apply underline;
}

.copy a:focus,
.copy a:hover {
  @apply text-white;
}

.icon {
  @apply inline-block fill-current h-em w-em;
}

/* purgecss start ignore */
.mapboxgl-popup {
  @apply max-w-2xs w-max-content;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: theme('colors.gray.900');
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: theme('colors.gray.900');
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: theme('colors.gray.900');
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: theme('colors.gray.900');
}

.mapboxgl-popup-content {
  @apply bg-gray-900 flex flex-row-reverse items-stretch justify-between p-6 relative rounded-sm shadow-lg text-gray-400 text-xs;
}

.mapboxgl-popup-close-button {
  @apply duration-75 ease-in-out ml-1 -mr-6 -my-6 p-4 rounded-r-sm static text-base text-gray-600 transition-colors;
}

.mapboxgl-popup-close-button:hover {
  @apply bg-gray-950 text-gray-300;
}
/* purgecss end ignore */
